@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}

:root{
    ---base-color: #286dd4;
    ---shade: #14376a;
    ---tint: #a9c5ee;
    ---white: #ffffff;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

p{
    font-size: 1.6rem;
}

a{
    font-size: 1.6rem;
}

header{
    background-color: var(---shade);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
    width: 100%;
}

.header-name{
    margin: 1rem 1rem;
    line-height: 2;
    z-index: 1;
}

.header-text{
    color: var(---tint);
    font-weight: bold;
    font-size: 2.2rem;
}

.nav-container{
    /* margin-left: 60rem; */
    position: absolute;
    width: 70%;
    right: 0;
    float: right;
}

.nav-container nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-container nav ul li{
    display: inline-block;
}

.nav-container nav ul li a{
    text-decoration: none;
    color: var(---tint);
    font-weight: bold;
}

.nav-container nav ul li a:hover{
    color: var(---white);
}

.nav-container nav ul li a:active{
    color: var(---base-color);
}

/* Mobile hamburger menu starts from here */

.mobile-menu{
    display: none;
    position: absolute;
    width: 10%;
    right: 0;
    float: right;
    color: var(---tint);
}

.mobile-menu-container{
    display: flex;
    /* justify-content: center; */
    /* text-align: space-between; */
    width: 30rem;
    height: 30rem;
}

.hamburger-menu{
    cursor: pointer;
}

.close{
    display: none;
    cursor: pointer;
}


/* Media Queries for responsiveness */
@media screen and (max-width:768px) {
    html{font-size: 57.5%;}    
}

@media screen and (max-width:480px) {
    html{font-size: 52.5%}
    .nav-container{display: none;}
    .mobile-menu{
        display: block;
        font-size: 3rem;
    }
    .nav-container{
        display: none;
        background-color: var(---shade);
        width: 100%;
        align-items: flex-start;
        justify-content: center;
        
    }
    .nav-container nav ul{
        display: block;
        margin: 20rem 0rem 1.5rem 0rem; /* Top, Right, Bottom, Left */
    }
    .nav-container nav ul li{
        display: list-item;
        line-height: 2;
    }
}