@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}

:root{
    ---base-color: #286dd4;
    ---shade: #14376a;
    ---tint: #a9c5ee;
    ---white: #ffffff;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

/* Media Queries for responsiveness */
@media screen and (max-width:768px) {
    html{font-size: 55%;}    
}

@media screen and (max-width:480px) {
    html{font-size: 45%}
}