.main-container{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--secondaryColor);
}

.main-body{
  margin: 5px 0px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px
}