body{
    background-color: #212121;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.nav{
    width: 100%;
    height: auto;
    background-color: rgb(94, 94, 219);
    overflow: hidden;
    top: 0px;
    right: 0px;
    position: fixed;
    padding: 0px;
    border: 3px outset greenyellow;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: aliceblue;
    background-color: chartreuse;
    padding: 5px;
}

a:hover{
    background-color: yellow;
    color: blue;
}

.nav li{
    display: block;
    float: left;
    text-align: center;
    padding-right: 10px;
}

.main-menu-item{
    border: 1px solid black;
}

.main-menu-item-container li{
    display: block;
    float: none;
    text-align: justify;
    padding-top: 5px;
}

.sub-menu-item li a{
    display: none;
}

.expand-menu:hover a{
    display: block;
}

.img-container{
    border: 5px solid white;
    margin-top: 80px;
}

.img-container img{
    width: 100%;
}

.sidebar{
    display: block;
    position: fixed;
    left: 0px;
    background-color: rgb(94, 94, 219);
    border: 3px outset greenyellow;
    font-weight: bold;
    font-size: 18px;
    height: 100%;
    width: auto;
}