body{
    font-family: fantasy;
    font-size: 18px;
    background-color: rgba(31, 100, 228, 0.753);
}

a{
    text-decoration: none;
    color: rgba(231, 39, 39, 0.829);
}

a:hover{
    font-size: 20px;
    color: blue;
}

a:active{
    color: rgb(4, 147, 243);
}

ul{
    list-style-type: none;
}

li{
    display: inline;
    border: 1px solid black;
    background-color: rgba(250, 250, 37, 0.726);
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
}

.nav-container{
    background-color: rgba(228, 31, 31, 0.753);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

#home{
    margin-top: 65px;
}

h1{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
    text-align: center;
    background-color: rgba(66, 28, 168, 0.692);
    color: rgba(137, 245, 29, 0.815);
}

h2{
    border-top: 2px solid black;
    padding-top: 10px;
}

#breaking-news, #wiz-time, #grand-magic-game{
    width: 100%;
    text-align: justify;
}

#breaking-news img, #wiz-time img, #grand-magic-game img{
    padding-right: 10px;
    float: left;
}