:root{
    --primaryColor: rgba(31, 100, 228, 0.753);
    --textColor: rgba(231, 39, 39, 0.829);
    --activeColor: rgb(4, 147, 243);
}

html{
    margin: 0;
    padding: 0;
}

/* Utility classes starts from here */

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Utility classes ends from here */

#navbar-container{
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}

#main-container{
    width: 100%;
    margin: 70px 10px;
}